<div class="panel panel-info" style="max-width:900px; margin:10vh auto; text-align:center;">
    <div class="panel-heading">
        <h1 class="panel-title" style="font-size:1.8em; line-height:1.3; font-weight:500;">
            Study Invitation
        </h1>
    </div>
    <div class="panel-body" style="padding:42px 64px 36px;">
        <p class="lead" style="margin:0 0 1.15em; font-size:1.3em; line-height:1.55;">
            You are invited to participate in a research study on teacher evaluation of children.
        </p>
        <p class="lead" style="margin:0; font-size:1.3em; line-height:1.55;">
            For your privacy, we recommend completing this survey in a private setting, on a personal device, and using a password-protected internet connection.
        </p>
        <div class="text-center proceed" style="margin:36px auto 0;">
            <button pi-message-done type="button" class="btn btn-primary btn-lg">
                Continue
            </button>
        </div>
    </div>
</div>